@import "colors";

.admin {
    min-height: calc(100vh - 95px - 70px);
    box-sizing: border-box;
    padding: 50px 0;

    &__content {
        overflow-x: auto;
    }

    &__title {
        font-size: 3rem;
        color: $primary-color;
        font-weight: bold;
        margin: 0 0 25px 0;
    }

    &__nav {
        margin: 0 0 25px 0;

        a {
            color: $primary-color;
            text-decoration: none;
            margin-right: 10px;
            font-size: 18px;

            &.active {
                font-weight: bold;
            }
        }

        @media(min-width: 1024px) {
            padding: 0 50px 0 0;
            border-right: 1px solid $primary-color;
            margin: 0;

            a {
                display: block;
                margin: 20px 0;
            }
        }
    }

    &__subtitle {
        font-size: 2rem;
        color: $primary-color;
        font-weight: bold;
        margin: 0 0 25px 0;
    }

    &__table {
        width: 100%;
        border: 1px solid $primary-color;
        border-collapse: collapse;
        font-size: 16px;
        color: $primary-color;

        th {
            background-color: $primary-color;
            font-weight: bold;
            color: #ffffff;
            border: 1px solid #ffffff;
        }

        td,
        th {
            padding: 10px;
        }

        tr,
        td {
            border: 1px solid $primary-color;
        }

        img {
            width: 50px;
            height: auto;
        }

        a {
            color: $primary-color;
            text-decoration: none;
        }
    }

    &__icon {
        margin: 0 10px;
        cursor: pointer;
    }

    &__flex {
        @media(min-width: 1024px) {
            display: flex;
        }
    }

    &__manager {
        @media(min-width: 1024px) {
            flex-grow: 1;
            margin-left: 50px;
        }
    }

    &__add {
        max-width: 300px;
        margin: 50px 0 0 auto;
    }

    &__information {
        color: $primary-color;
        line-height: 1.4;
        font-size: 16px;
    }

    &__filter {
        display: flex;
        max-width: 350px;
        margin-left: auto;
        
        input {
            margin-left: 10px;
            padding: 16px;
        }

        p {
            font-size: 18px;
            font-weight: bold;
            color: $primary-color;
        }
    }

    &__form {
        max-width: 400px;
        margin: 50px 0;
    }

    &__stock {
        margin: 10px 0;
        font-size: 18px;
        color: $primary-color;

        p {
            display: flex;
            align-items: center;
        }

        i {
            margin: 0 10px;
            cursor: pointer;
        }
    }
}