@import "colors";

.payment {
    padding: 50px 0;
    min-height: calc(100vh - 95px - 70px);
    box-sizing: border-box;

    &__content {
        @media(min-width: 768px) {
            display: flex;
        }
    }

    &__steps {
        margin: 0 0 25px 0;

        a {
            font-size: 16px;
            color: $primary-color;
            text-decoration: none;
            margin-right: 10px;

            &.active {
                font-weight: bold;
            }
        }

        @media(min-width: 768px) {
            padding: 0 50px 0 0;
            border-right: 1px solid $primary-color;
            margin: 0;

            a {
                display: block;
                margin: 20px 0;
            }
        }
    }

    &__details {
        @media(min-width: 768px) {
            margin-left: 50px;
            flex-grow: 1;
        }
    }

    &__title {
        font-size: 3rem;
        color: $primary-color;
        font-weight: bold;
        margin: 0 0 10px 0;

        @media(min-width: 768px) {
            margin: 0 0 50px 0;
        }
    }

    &__subtitle {
        font-size: 2rem;
        color: $primary-color;
        font-weight: bold;
        margin: 0 0 25px 0;
    }

    .input {
        max-width: 400px;
    }

    &__summary {
        color: $primary-color;
        font-weight: bold;
        font-size: 24px;
        text-align: right;
    }

    .button {
        max-width: 300px;
        margin-left: auto;
    }

}